/* heading */
nav ul {
    list-style-type: none;
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

/* button-style */
.button-style {
    background-color: blue;
    border-radius: 5px;
    border-color: rgb(27, 27, 61);
    font-weight: bold;
    color: white;
    text-justify: inter-word;
    cursor: pointer;
    transition: background-color 0.3s ease;
}