/*Header Style*/
header {
    margin: 25px;
    height: 698px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



/* heading */
nav ul {
    list-style-type: none;
    margin: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* button-style */
.button-style {

    background-color: blue;
    border-radius: 10%;
    border-color: rgb(25, 194, 9);
    padding: 10px 20px;
    font-size: 26px;
    font-weight: bolder;
    color: white;
    text-justify: inter-word;
    cursor: pointer;
    text-align: center;
}

/* Image logo*/
nav ul li img {
    width: 75px;
    height: 75px;
}

img {
    width: 100%;
    height: auto;
}

nav {
    margin: 30px;
    padding: 10px;
    height: 100%;


}

div.header-content {
    list-style-type: none;
    margin: 20px;
    padding: 10px;
    text-align: center;
    margin-bottom: 5%;

}

div ul {

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Section 1 */
section {
    width: 1140px;
    height: 328px;
    margin: 10%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

section div .section-1-left {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}